* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* базовые стили body */
body {
    font-family: "Raleway", Tahoma, Geneva, Verdana, sans-serif;
    height: 100hv;
    overflow: hidden;
}

/* Сброс стилей для форм */
input, 
button {
    border: none;
    outline: none;
    font-family: inherit;
}

button {
    cursor: pointer;
    background: none;
}